@page
@model Nursery.Areas.Admin.Pages.StudyLanguage.IndexModel
@{
}

<div class="page-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-header d-flex justify-content-between align-items-center">
                            @sharedResource["Study Language"]
                        </h2>
                    </div>
                    <div class="card-body">
                        @(Html.DevExtreme().DataGrid<Nursery.Models.Language>()
.DataSource(ds => ds.Mvc()
.Controller("Languages")
.LoadAction("Get")
.InsertAction("Post")
.UpdateAction("Put")
.DeleteAction("Delete")
.Key("LanguageId")
)
.RemoteOperations(true)
.Columns(columns => {
    columns.AddFor(m => m.Title).Caption(sharedResource["Study Language Name"]);
   

}

)

.Editing(e => e.Mode(GridEditMode.Popup)
.Texts(c => c.CancelRowChanges(sharedResource["Cancel"]) .SaveRowChanges(sharedResource["Save"]) .EditRow(sharedResource["Edit"]).AddRow(sharedResource["Add"]).ConfirmDeleteMessage(sharedResource["Are you sure to delete this record ?"]))




.AllowUpdating(true)
.AllowAdding(true)
.AllowDeleting(true)
.UseIcons(true)


.Popup(p => p
.Title(sharedResource["Study Language"])
.ShowTitle(true)
.MaxWidth(750)
.RtlEnabled(bool.Parse(sharedResource["ArLang"]))


.Height(250))

)
    .Paging(paging => paging.PageSize(10))
                        .Pager(pager =>
                        {
                            pager.Visible(true);
                            pager.DisplayMode(GridPagerDisplayMode.Full);
                            pager.ShowPageSizeSelector(true);
                            pager.AllowedPageSizes(new JS("[5, 10, 'all']"));
                            pager.ShowInfo(true);
                            pager.ShowNavigationButtons(true);

                        })
        .HeaderFilter(headerFilter => headerFilter.Visible(true))
                            .ShowRowLines(true).ShowColumnLines(true)
                            .RowAlternationEnabled(true)
                            .AllowColumnReordering(true)
                            .ShowColumnLines(true)
                            .ShowBorders(true)
                            .SearchPanel(searchPanel => searchPanel
                            .Visible(true)
                            .Width(240)
                            .Placeholder(sharedResource["SearchTxt"]))
                            .RemoteOperations(true)
                            .RtlEnabled(bool.Parse(sharedResource["ArLang"]))
)

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>