<?xml version="1.0" encoding="utf-8"?><configuration>	<system.web>		<httpRuntime maxRequestLength="1048576" />		<sessionState timeout="30"></sessionState>	</system.web>	<system.webServer>		<security>			<requestFiltering>				<requestLimits maxAllowedContentLength="1073741824" maxUrl="40960" maxQueryString="20480" />						</requestFiltering>		</security>	</system.webServer></configuration>