@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{



}

<!-- ========== Left Sidebar Start ========== -->
<div class="vertical-menu">

    <div data-simplebar class="h-100">

        <!--- Sidemenu -->
        <div id="sidebar-menu">
            <!-- Left Menu Start -->
            <ul class="metismenu list-unstyled" id="side-menu">
                <li class="menu-title"></li>


                
                <li>
                    <a href="/NurseryAccount/Children" class="waves-effect">
                        <span class="badge rounded-pill bg-primary float-end"></span>
                        <i class="mdi mdi-view-dashboard"></i>
                        <span> @sharedResource["Children"] </span>
                    </a>
                </li>


                  <li>
                    <a href="/NurseryAccount/Subscriptions" class="waves-effect">
                        <span class="badge rounded-pill bg-primary float-end"></span>
                        <i class="mdi mdi-view-dashboard"></i>
                        <span> @sharedResource["Subscriptions"] </span>
                    </a>
                </li>

                
            </ul>
        </div>
        <!-- Sidebar -->
    </div>
</div>
<!-- Left Sidebar End -->   
