@page
@model Nursery.Areas.NurseryAccount.Pages.Subscriptions.IndexModel
@{
}



<div class="page-content">
    <div class="container-fluid">

        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-header d-flex justify-content-between align-items-center">
                            @sharedResource["Subscriptions"]
                        </h2>
                  
                    </div>
                    <div class="card-body">


                        @(Html.DevExtreme().DataGrid<Nursery.Models.NurserySubscription>()
        .DataSource(ds => ds.Mvc()
        .Controller("NurserySubscriptions")
        .LoadAction("GetByNurseryId")
        .Key("NurserySubscriptionId")
        .LoadParams(new { nurseryId=Model.nurseryId })

        )
        .RemoteOperations(true)
        .Columns(columns => {

        columns.AddFor(m => m.NurseryId).Lookup(lookup => lookup
        .DataSource(ds => ds.WebApi().Controller("NurserySubscriptions").LoadAction("NurseryMemberLookup").Key("Value"))
        .ValueExpr("Value")
        .DisplayExpr("Text")
        ).Caption(sharedResource["Nursery"]);

        columns.AddFor(m => m.PlanId).Lookup(lookup => lookup
        .DataSource(ds => ds.WebApi().Controller("NurserySubscriptions").LoadAction("PlanLookup").Key("Value"))
        .ValueExpr("Value")
        .DisplayExpr("Text")
        ).Caption(sharedResource["Plan"]);


        columns.AddFor(m => m.StartDate).Caption(sharedResource["StartDate"]);

        columns.AddFor(m => m.EndDate).Caption(sharedResource["EndDate"]);



        columns.Add().Caption(sharedResource["Actions"]).Alignment(HorizontalAlignment.Center).CellTemplate(@<text>
                        <div class="btn-group" role="group" aria-label="Basic example">
                        <a class="btn btn-primary btn-sm"  href="/NurseryAccount/subscriptions/Details?id=<%- data.NurserySubscriptionId %>"> <i class="fas fa-eye"></i> </a>
                            </div>
        </text>);


        })


     .Paging(paging => paging.PageSize(10))
                        .Pager(pager =>
                        {
                            pager.Visible(true);
                            pager.DisplayMode(GridPagerDisplayMode.Full);
                            pager.ShowPageSizeSelector(true);
                            pager.AllowedPageSizes(new JS("[5, 10, 'all']"));
                            pager.ShowInfo(true);
                            pager.ShowNavigationButtons(true);

                        })
                            .HeaderFilter(headerFilter => headerFilter.Visible(true))
                            .ShowRowLines(true).ShowColumnLines(true)
                            .RowAlternationEnabled(true)
                            .AllowColumnReordering(true)
                            .SearchPanel(searchPanel => searchPanel
                            .Visible(true)
                            .Width(240)
                            .Placeholder(sharedResource["SearchTxt"]))
                            .RemoteOperations(true)
                            .RtlEnabled(bool.Parse(sharedResource["ArLang"]))
                                        )
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
