@page
@model Nursery.Areas.Admin.Pages.Cities.AddModel
@{
}
<div class="page-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-header d-flex justify-content-between align-items-center">
                            @sharedResource["Add"]  @sharedResource["City"]
                            <a asp-page="Index" class="btn btn-primary"> @sharedResource["Back"]</a>
                        </h2>
                    </div>
                    <div class="card-body">
                        <br />
                        <form id="form" method="post" enctype="multipart/form-data">
                            @(Html.DevExtreme().Form<Nursery.Models.City>()
        .Items(items =>
        {
            items.AddSimpleFor(m => m.CityTlAr).IsRequired(true).Label(k => k.Text(sharedResource["TlAr"]));
            items.AddSimpleFor(m => m.CityTlEn).IsRequired(true).Label(k => k.Text(sharedResource["TlEn"]));
            items.AddSimpleFor(m => m.CityOrderIndex).IsRequired(true).Label(k => k.Text(sharedResource["Sort"])).Editor(e=>e.NumberBox().Value(null).Min(0));
            items.AddSimpleFor(m => m.CityIsActive).Label(k => k.Text(sharedResource["IsActive"]));

            items.AddSimpleFor(m => m.CountryId).IsRequired(true).Label(k => k.Text(sharedResource["Country"]))
                .Editor(e => e
                    .Lookup()
                    .DataSource(ds => ds.WebApi().Controller("Cities").LoadAction("ActiveCountryLookup").Key("Value"))
                    .ValueExpr("Value")
                    .DisplayExpr("Text")
                     .RtlEnabled(bool.Parse(sharedResource["ArLang"]))
                        .Placeholder(sharedResource["Select"])
                                                        .ShowClearButton(true)
                                                        .ClearButtonText(sharedResource["Clear"])
                                                        .CancelButtonText(sharedResource["Cancel"])
                                                        .SearchPlaceholder(sharedResource["searching"])
                );

            items.AddButton()
                        .ColSpan(3)
                        .HorizontalAlignment(HorizontalAlignment.Right)
                        .ButtonOptions(b => b.Text(sharedResource["Save"])
                        .Type(ButtonType.Success)
                        .UseSubmitBehavior(true)).CssClass("invers");
        })
)
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
