@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Reset password confirmation";
}
           
<div class="hero hero-1 feature-section feature-section-0">
    <div class="hero-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 offset-lg-0  ">
                    <div class="hero-image">
<p style="font-size:2rem">
    @sharedResource["Your password has been reset try to log in"]
   
</p>
   </div>
                </div>
            
            </div>

        </div>
    </div>
</div>
